{% extends 'home.html.twig' %}

{% block body %}

    <div class="container">

{% for message in app.flashes('success') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

    {% for message in app.flashes('error') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

<table class="table mt-5">
    <thead class="thead-dark">
        <tr>
            <th>{{ 'category.table.name'|trans }}</th>
            <th>{{ 'category.table.edit'|trans }}</th>
            <th>{{ 'category.table.delete'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td><a href="{{ path('edit_category', {'id' : category.id}) }}" class="btn btn-primary">{{ 'category.table.edit'|trans }}</a></td>
            <td><a href="{{ path('delete_category', {'id' : category.id}) }}" class="btn btn-danger">{{ 'category.table.delete'|trans }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

            <a href="{{ path('create_category') }}" class="btn btn-primary mb-4 mt-3">{{ 'category.button.create' | trans }}</a>
    </div>
{% endblock %}