{% extends 'home.html.twig' %}

{% block body %}

    <div class="container">

{% for message in app.flashes('success') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}

    {% for message in app.flashes('error') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

<table class="table mt-5">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td><a href="{{ path('create_category', {'id' : category.id}) }}">Edit</a></td>
            <td><a href="{{ path('delete_category', {'id' : category.id}) }}">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

            <a href="{{ path('create_category') }}" class="btn btn-primary mb-4 mt-3">Create new Category</a>
    </div>
{% endblock %}